*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
    background-size: cover;
    font-family: sans-serif;
    display: flex;
    background-color: black;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.form{
    position: relative;
    width: 100%;
    max-width: 400px;
    padding: 80px 40px 40px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
}

.form::before{
    max-width: 400px;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgb(255, 255, 255,0.1);
    pointer-events: none;
    transform: skewX(-30deg);
    transform-origin: bottom  right  ;
}

.form p{
    text-align: center;
    margin-bottom: 2rem;
    color: rgb(255, 94, 0);
}

.input{
    position: relative;
    padding: 1px;
}
.button{
    padding: 10px;
}
.submit-button{
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background: rgb(255, 94, 0);
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
    text-transform: uppercase;
}

option{
    color: black;
    padding: 2px;
    width: 3vw;
}

.left{
    display: inline-block;
	position: absolute;
	width: 50vw;
	height: 100vh;
	border-radius: 5px;
}

.right{
	display: inline-block;
	width: 50   vw;
	height: 100vh;
	position: absolute;
	right: 0.0001px;        /* without this value . picture kept going to left   */
	border-radius: 5px;
    
}

.image-left{
    width: 50vw;
    height: 100vh;
}

.image-right{
    width: 50vw;
    height: 100vh;
}

.team{
    width: 15vw;;
}

