<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>

</head>
<body>  
    <!-- <div class="outer">
        <div class="left"> </div>
        <div class="right"> </div>
    </div> -->
    <div class="container" >
        {% comment %} <p>  Enter match details </p> <br> {% endcomment %}
        <form method="POST" action =""  class="form">
            <p>  Enter match details </p>
            {% csrf_token %}
            {% comment %} <div class="inputs" > {% endcomment %}
                <label for="bat_team" > Select batting team</label>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <select name="bat_team" id="bat_team">
                    <option> Mumbai Indians</option>
                    <option>Chennai Super Kings</option>
                    <option> Kolkata Knight Riders </option>
                    <option> Rajasthan Royals </option>
                    <option> Kings XI Punjab </option>
                    <option> Royal Challengers Bangalore </option>
                    <option> Delhi Capitals</option>
                    <option> Sunrisers Hyderabad</option>
                </select> <br>
                
                <label for="bowl_team"> Select Bowling team</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <select name = "bowl_team" id="bowl_team">
                    <option>Chennai Super Kings</option>
                    <option> Mumbai Indians</option>
                    <option> Kolkata Knight Riders </option>
                    <option> Rajasthan Royals </option>
                    <option> Kings XI Punjab </option>
                    <option> Royal Challengers Bangalore </option>
                    <option> Delhi Capitals</option>
                    <option> Sunrisers Hyderabad</option>
                </select> <br>
                
            {% comment %} </div> {% endcomment %}

            <div class="inputs" > 
                <label for="runs"> Runs</label> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" name="runs" required> <br> 
                <label for="runs"> Wickets </label> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" name="wickets" required>  <br> 
                <label for="runs"> Overs </label> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" name="overs" > <br>
                <label for="runs"> Runs in last 5 overs</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" name="runs_last_5"  required> <br> 
                <label for="runs"> Wickets in last 5 overs </label> &nbsp;&nbsp;
                <input type="text" name="wickets_last_5"  required> <br>
            </div>
            <div class="button">
                <button class="submit-button" type="submit" > Predict  </button>
            </div>
        </form>
    </div>
</body>
</html>